doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      function buy(index) {
        alert("You purchased item " + index);
      }
  body
    h1 Search Results
    p Here are some items you can buy:

    - var results = [
      { name: 'Item 1', image: 'item1.jpeg' },
      { name: 'Item 2', image: 'item2.jpeg' },
      { name: 'Item 3', image: 'item3.jpeg' },
      { name: 'Item 4', image: 'item4.jpeg' },
      { name: 'Item 5', image: 'item5.jpeg' }
    ];

    each item, index in results
      div(onclick=`buy(${index})`, style="cursor:pointer; padding:10px; border:1px solid black; margin:5px;")
        img(src=`/images/${item.image}`, alt=`${item.name}`, width="300", height="300", style="margin:10px; border:2px solid black;")
        p #{item.name}
